@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.center {
  width: 90%;
  min-width: 385px;
  max-width: 960px;
  margin: 0 auto; }

.logos {
  width: 100%; }
  .logos__container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto; }
    .logos__container > img {
      width: 350px;
      height: 100%;
      object-fit: cover; }
    .logos__container > nav > button {
      transform: translateY(-20%);
      background-color: white;
      border: 0; }
      .logos__container > nav > button > img {
        transition: 0.3s;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        width: 24px;
        object-fit: cover; }
        .logos__container > nav > button > img:hover {
          filter: none; }

header {
  width: 100%;
  min-width: 385px;
  height: 59px;
  background-color: rgba(0, 0, 0, 0.87);
  border-bottom: 3px solid #e53935; }
  header nav {
    display: flex; }
    header nav div {
      transition: 0.3s;
      display: flex;
      align-items: center;
      height: 100%;
      color: white;
      font-size: 1rem;
      text-decoration: none;
      padding: 0px 10px;
      cursor: pointer; }
      header nav div img {
        height: 20px; }
      header nav div:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.3); }

.header__container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between; }

.news-grid {
  height: 400px;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px; }

.news-grid > div {
  background-size: cover;
  background-position: center; }

.news-grid__slide {
  grid-area: 1 / 1 / span 2 / span 2;
  cursor: pointer; }

.news-grid__slide img, .news1 img, .news2 img {
  transition: 0.2s all ease-in-out; }

.news-grid__slide:hover img, .news1:hover img, .news2:hover img {
  transform: scale(1.05); }
.news-grid__slide:hover .category, .news1:hover .category, .news2:hover .category {
  background-color: #e53935; }

.news1 {
  position: relative;
  grid-area: 1 / 3 / span 1 / span 2; }

.news2 {
  position: relative;
  grid-area: 2 / 3 / span 1 / span 2; }

.news1 h5, .news2 h5 {
  font-size: 1.1rem !important; }

.carousel-inner, .news2, .news1 {
  overflow: hidden; }

.carousel-indicators {
  top: 2px;
  margin-right: 1%;
  justify-content: right; }
  .carousel-indicators > button[type="button"] {
    border-radius: 50%;
    width: 20px;
    height: 20px; }

.carousel-item {
  transition: 0.05s; }

.carousel-caption {
  left: 10px;
  bottom: 0;
  right: 0;
  padding-bottom: 0;
  text-align: left;
  text-shadow: 1px 1px 1px black; }
  .carousel-caption h5 {
    font-size: 1.3rem;
    font-weight: 700; }
  .carousel-caption p {
    font-size: 14px; }

.category {
  transition: 0.3s;
  position: relative;
  width: fit-content;
  height: 1.5rem;
  left: 12px;
  top: calc(-100% + 12px);
  padding: 3px 8px;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 3px solid #e53935;
  text-transform: uppercase; }

.status {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 90%; }
  .status .status__webstories {
    background-color: #555;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 85px;
    font-size: 50px; }
    .status .status__webstories > a {
      transition: 0.5s;
      text-decoration: none;
      color: white; }
      .status .status__webstories > a:hover {
        color: #e53935; }
  .status__item img {
    position: relative;
    transition: 0.5s;
    height: 100%;
    right: calc(25%); }
  .status__item p {
    width: 100px;
    font-size: 12px;
    text-align: center; }
  .status__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden; }
    .status__img:hover {
      border: 2px solid #e53935; }
      .status__img:hover img {
        transform: scale(1.2); }

.conteudo {
  display: flex;
  max-width: 960px;
  gap: 20px;
  justify-content: space-between; }

.noticias {
  display: flex;
  width: 100%;
  flex-grow: 0.7;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 100px;
  margin-right: 40px;
  font-family: 'Oxygen', sans-serif; }
  .noticias > .text-container {
    width: fit-content;
    padding: 0 4px;
    border-bottom: 3px solid #e53935; }
    .noticias > .text-container > h2 {
      text-transform: uppercase;
      font-size: 0.8em; }
  .noticias__item {
    display: flex;
    width: 100%;
    min-height: 200px;
    border-bottom: 3px solid #e53935; }
    .noticias__item__img {
      flex-grow: 0.4;
      min-width: 240px;
      overflow: hidden; }
      .noticias__item__img img {
        position: relative;
        transform: translate(-25%, 0%);
        height: 200px;
        transition: 0.5s; }
      .noticias__item__img > .category {
        top: calc(-25% + 12px); }
    .noticias__item__content {
      display: flex;
      width: 100%;
      margin-left: 20px;
      flex-grow: 0.6;
      flex-direction: column;
      justify-content: space-around; }
      .noticias__item__content a {
        font-size: 1.3rem;
        font-weight: 400;
        text-decoration: none;
        color: black; }
      .noticias__item__content__info {
        display: flex;
        width: 100%;
        height: 30px;
        align-items: baseline; }
        .noticias__item__content__info p {
          font-size: .9em;
          margin-left: 15px; }
    .noticias__item:hover img {
      transform: translate(-25%, 0%) scale(1.05); }
    .noticias__item:hover a {
      color: #e53935; }
    .noticias__item:hover .category {
      background-color: #e53935; }

.perdido {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 100px;
  margin-right: 40px;
  font-family: 'Oxygen', sans-serif; }
  .perdido > .text-container {
    border-left: 4px solid #e53935;
    padding-left: 8px;
    text-align: bottom; }
    .perdido > .text-container > h2 {
      margin: 0;
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: bold; }
  .perdido__item {
    display: flex;
    width: 100%;
    height: 140px;
    border-bottom: 3px solid #e53935; }
    .perdido__item__img {
      flex-grow: 0.3;
      min-width: 140px;
      overflow: hidden; }
      .perdido__item__img img {
        position: relative;
        transform: translate(-25%, -25%);
        height: 200px;
        transition: 0.5s; }
      .perdido__item__img > .category {
        top: calc(-75% + 12px); }
    .perdido__item__content {
      display: flex;
      width: 100%;
      margin-left: 20px;
      flex-grow: 0.7;
      flex-direction: column;
      justify-content: space-around; }
      .perdido__item__content a {
        font-size: 1.2em;
        font-weight: 400;
        text-decoration: none;
        color: black; }
      .perdido__item__content__info {
        display: flex;
        width: 100%;
        height: 30px;
        align-items: baseline; }
        .perdido__item__content__info p {
          font-size: .8em;
          margin-left: 15px; }
    .perdido__item:hover img {
      transform: translate(-25%, -25%) scale(1.05); }
    .perdido__item:hover a {
      color: #e53935; }
    .perdido__item:hover .category {
      background-color: #e53935; }

.sidebar__item {
  flex-grow: 0.3;
  position: relative;
  width: 300px;
  height: 180px;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer; }
  .sidebar__item p {
    color: white;
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-shadow: 1px 0 1px #000028; }
  .sidebar__item img {
    transition: 0.5s;
    width: 100%; }
  .sidebar__item:hover img {
    transform: scale(1.1); }

.label-noticia {
  height: 1.5em;
  background-color: #555;
  border: 0;
  border-radius: 2px;
  padding: 0 5px;
  margin: 0 2px;
  font-size: .8rem;
  color: white;
  text-shadow: 1px 0 1px #000028; }

@media screen and (max-width: 800px) {
  .logos > nav {
    display: none; }

  header {
    padding: 0 clamp(0px, 5%, 175px); }

  .status__item:nth-of-type(6), .status__item:nth-of-type(5) {
    display: none; }

  .news-grid {
    display: none; }

  aside {
    display: none; } }
@media screen and (max-width: 700px) {
  header {
    padding: 0 clamp(0px, 2%, 175px); }

  .status__item:nth-of-type(4) {
    display: none; }

  .perdido__item__img {
    display: none; }

  .header__item:nth-last-of-type(1) {
    display: none !important; }

  .logos__social {
    display: none; } }
@media screen and (max-width: 500px) {
  .status__item:nth-of-type(3) {
    display: none; }

  .header__item:nth-last-of-type(2) {
    display: none !important; }

  .noticias__item {
    flex-direction: column; }
    .noticias__item__img img {
      width: 500px; }
    .noticias__item__img .category {
      top: -30px; } }
@media screen and (max-width: 400px) {
  .status__item:nth-of-type(2) {
    display: none; }

  .header__item:nth-last-of-type(3) {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
